# Missing Data

Let's show a few convenient methods to deal with Missing Data in pandas:

In [24]:
import numpy as np
import pandas as pd

In [25]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,np.nan,3]})

In [26]:
df

     A    B    C
0  1.0  5.0  1.0
1  2.0  NaN  NaN
2  NaN  NaN  3.0

In [27]:
df.dropna()

     A    B    C
0  1.0  5.0  1.0

In [28]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2]

Keep only the rows with at least 2 non-NA values.

In [29]:
df.dropna(thresh=2)

     A    B    C
0  1.0  5.0  1.0

In [30]:
df.fillna(value='FILL VALUE')

            A           B           C
0           1           5           1
1           2  FILL VALUE  FILL VALUE
2  FILL VALUE  FILL VALUE           3

In [31]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64